!!!
%html
  %head
    %title== Are people watching #{@what} yet?
    %link{ :rel => 'stylesheet', :href => "styles.css", :type => 'text/css' }

  %body
    %img.octocat{ :src => 'http://octodex.github.com/images/original.jpg' }
    .results
      - if @found.size > 0
        .result
          = @found.size > 1 ? "Are" : "Is"
          %span.usernames
            = @found.join(', ')
          = @repo ? "watching" : "following"
          %span.watchable
            %a{ :href => "https://github.com/#{@what}" }= @what
          on Github yet?
          %span.big.green
            YES!

      - if @missing.size > 0
        .result
          = @missing.size > 1 ? "Are" : "Is"
          %span.usernames
            = @missing.join(', ')
          = @repo ? "watching" : "following"
          %span.watchable
            %a{ :href => "https://github.com/#{@what}" }= @what
          on Github yet?
          %span.big.red
            NO!